RewriteEngine On

#location of your website
RewriteBase /routing

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ /rainbowit.net/html/nuron/routes.php?uri=$1 [QSA,L]